{% extends 'base.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% block body %}
<h1 style="text-align: center;">Connexion</h1>
    <form class="lg" action="{{ path('connexion_page') }}" method="POST">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email *</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required name="email">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password *</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Connexion</button>
    </form>
{% endblock %}